moviepy==1.0.3
torch==1.7.1
torchvision==0.8.2
# clip
clip @ git+git://github.com/openai/clip@master#egg=clip
ftfy
regex
tqdm
# full tensorflow required for tensorboard video support
tensorflow==1.13.1
tb-nightly
